In [1]:
import pandas as pd

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:1041: UserWarning: Duplicate key in file "/Users/punkymonkey/.matplotlib/matplotlibrc", line #2
  (fname, cnt))

In [2]:
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('LoanStats3d_securev1.csv', low_memory=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421097 entries, 0 to 421096
Columns: 115 entries, id to total_il_high_credit_limit
dtypes: float64(89), object(26)
memory usage: 369.5+ MB

In [5]:
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68407301,73297138.0,27500.0,27500.0,27500.0,60 months,14.85%,652.06,C,C5,...,0.0,1.0,100.0,57.1,0.0,0.0,325100.0,44977.0,55500.0,13200.0
1,68366999,73256850.0,15850.0,15850.0,15850.0,60 months,23.13%,448.01,F,F2,...,0.0,4.0,100.0,0.0,0.0,0.0,84300.0,45025.0,19900.0,43000.0
2,67715283,72569997.0,16000.0,16000.0,16000.0,36 months,12.88%,538.18,C,C2,...,0.0,2.0,80.0,0.0,0.0,1.0,80999.0,39781.0,4700.0,71499.0
3,68416916,73306740.0,28000.0,28000.0,28000.0,60 months,18.49%,718.51,D,D5,...,0.0,2.0,100.0,50.0,0.0,0.0,267312.0,57302.0,58500.0,31758.0
4,68543413,73433136.0,10000.0,10000.0,10000.0,36 months,12.88%,336.37,C,C2,...,0.0,3.0,100.0,100.0,0.0,0.0,321380.0,73732.0,4400.0,68648.0
5,68597047,73486873.0,19000.0,19000.0,19000.0,60 months,14.85%,450.52,C,C5,...,0.0,4.0,94.1,100.0,0.0,0.0,94620.0,48159.0,7500.0,36720.0
6,66310712,71035433.0,35000.0,35000.0,35000.0,60 months,14.85%,829.90,C,C5,...,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
7,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
8,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
9,68577849,73467703.0,18000.0,18000.0,18000.0,60 months,11.99%,400.31,C,C1,...,0.0,4.0,100.0,0.0,0.0,0.0,309710.0,36127.0,69800.0,26210.0
10,67849662,72708407.0,4225.0,4225.0,4225.0,36 months,14.85%,146.16,C,C5,...,0.0,0.0,66.7,0.0,0.0,0.0,21822.0,4888.0,2600.0,17522.0
11,68341789,73544827.0,24250.0,24250.0,24250.0,60 months,24.24%,701.01,F,F3,...,0.0,3.0,100.0,63.6,0.0,0.0,344960.0,38475.0,29100.0,18300.0
12,68547583,73437441.0,8650.0,8650.0,8650.0,36 months,5.32%,260.50,A,A1,...,0.0,1.0,100.0,0.0,0.0,0.0,191618.0,31199.0,18300.0,27078.0
13,68527009,73416854.0,20000.0,20000.0,20000.0,36 months,9.80%,643.47,B,B3,...,0.0,5.0,92.3,0.0,0.0,0.0,117477.0,40090.0,51600.0,38577.0
14,68387134,73276991.0,2500.0,2500.0,2500.0,36 months,17.27%,89.47,D,D3,...,1.0,3.0,68.4,0.0,0.0,0.0,196429.0,197169.0,700.0,193929.0
15,68566856,73456693.0,28800.0,28800.0,28800.0,60 months,11.99%,640.50,C,C1,...,0.0,4.0,100.0,0.0,0.0,0.0,200980.0,41270.0,159700.0,25180.0
16,68466995,73356835.0,10000.0,10000.0,10000.0,36 months,7.91%,312.95,A,A5,...,0.0,1.0,100.0,0.0,0.0,0.0,35247.0,27354.0,13000.0,20447.0
17,68444620,73334399.0,35000.0,35000.0,35000.0,60 months,11.99%,778.38,C,C1,...,0.0,1.0,91.3,33.3,0.0,0.0,220950.0,49644.0,26800.0,71700.0
18,68506885,73396712.0,10000.0,10000.0,10000.0,60 months,11.99%,222.40,C,C1,...,0.0,1.0,100.0,50.0,0.0,0.0,61054.0,41166.0,13100.0,46854.0
19,68426865,73316695.0,20000.0,20000.0,20000.0,36 months,14.85%,691.84,C,C5,...,0.0,1.0,100.0,100.0,0.0,0.0,45509.0,37491.0,21500.0,20000.0
20,68617034,73519870.0,14650.0,14650.0,14650.0,60 months,20.50%,392.23,E,E4,...,0.0,0.0,100.0,100.0,0.0,0.0,67732.0,62813.0,11200.0,56532.0
21,68615169,73517949.0,16000.0,16000.0,16000.0,60 months,8.49%,328.19,B,B1,...,0.0,3.0,87.5,50.0,0.0,0.0,307343.0,64371.0,23500.0,59526.0
22,68396080,73285902.0,25000.0,25000.0,25000.0,60 months,11.48%,549.57,B,B5,...,0.0,4.0,97.0,0.0,0.0,0.0,72150.0,23522.0,45800.0,17750.0
23,68476807,73366655.0,10400.0,10400.0,10400.0,60 months,22.45%,289.91,F,F1,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0
24,68341763,72928789.0,20000.0,20000.0,20000.0,60 months,10.78%,432.66,B,B4,...,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0
25,68426831,73316657.0,11950.0,11950.0,11950.0,36 months,13.44%,405.18,C,C3,...,0.0,0.0,100.0,100.0,0.0,0.0,16900.0,12798.0,9400.0,4000.0
26,68426545,73316365.0,16000.0,16000.0,16000.0,60 months,12.88%,363.07,C,C2,...,0.0,1.0,100.0,60.0,0.0,0.0,309638.0,62407.0,45900.0,45838.0
27,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0
28,68566886,73456723.0,29900.0,29900.0,29900.0,60 months,12.88%,678.49,C,C2,...,0.0,4.0,100.0,25.0,0.0,0.0,271700.0,42497.0,34000.0,15574.0
29,68446820,73336644.0,10000.0,10000.0,10000.0,36 months,11.48%,329.67,B,B5,...,0.0,2.0,100.0,33.3,0.0,1.0,49732.0,23197.0,20800.0,27132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421067,36500819,39232937.0,10300.0,10300.0,10300.0,60 months,13.66%,237.86,C,C3,...,0.0,2.0,95.8,42.9,0.0,0.0,58710.0,41956.0,17100.0,36710.0
421068,36743377,39486112.0,4200.0,4200.0,4200.0,36 months,15.99%,147.64,D,D2,...,0.0,6.0,88.9,100.0,0.0,0.0,224211.0,45512.0,5600.0,40401.0
421069,36371802,39103231.0,15000.0,15000.0,15000.0,60 months,11.44%,329.44,B,B4,...,0.0,2.0,100.0,40.0,0.0,0.0,47674.0,33529.0,22500.0,21574.0
421070,35773415,38468842.0,18700.0,18700.0,18700.0,60 months,17.86%,473.44,D,D5,...,0.0,3.0,88.9,50.0,0.0,0.0,42499.0,40164.0,10000.0,32299.0
421071,36250801,38962184.0,6000.0,6000.0,6000.0,36 months,17.86%,216.50,D,D5,...,0.0,2.0,100.0,100.0,0.0,0.0,412963.0,14906.0,1900.0,8085.0
421072,36331554,39042967.0,26950.0,26950.0,26950.0,36 months,8.19%,846.88,A,A5,...,0.0,0.0,100.0,0.0,0.0,0.0,137433.0,41650.0,124600.0,8333.0
421073,36460697,39182359.0,23000.0,23000.0,23000.0,60 months,15.59%,554.32,D,D1,...,0.0,2.0,100.0,37.5,0.0,0.0,79510.0,48978.0,60800.0,13910.0
421074,35591131,38288343.0,25000.0,25000.0,25000.0,60 months,15.59%,602.52,D,D1,...,0.0,1.0,100.0,37.5,0.0,0.0,24400.0,13860.0,20900.0,0.0
421075,36440728,39152101.0,25000.0,25000.0,25000.0,60 months,15.99%,607.82,D,D2,...,0.0,0.0,100.0,100.0,0.0,0.0,18700.0,17275.0,17500.0,0.0
421076,36361815,39093260.0,26500.0,26500.0,26500.0,60 months,8.67%,545.87,B,B1,...,0.0,0.0,95.2,50.0,0.0,0.0,214551.0,91768.0,67600.0,33501.0
421077,36201871,38913321.0,21000.0,21000.0,21000.0,36 months,6.03%,639.15,A,A1,...,0.0,0.0,100.0,0.0,0.0,0.0,301457.0,36303.0,76300.0,36656.0
421078,36381756,39013193.0,8000.0,8000.0,8000.0,36 months,8.19%,251.40,A,A5,...,0.0,2.0,85.2,33.3,0.0,0.0,230732.0,38259.0,5800.0,39940.0
421079,36231718,38943165.0,10775.0,10775.0,10775.0,36 months,6.03%,327.95,A,A1,...,0.0,0.0,90.5,0.0,0.0,0.0,60948.0,24696.0,38700.0,19248.0
421080,36381704,39013139.0,7000.0,7000.0,7000.0,36 months,14.31%,240.30,C,C4,...,1.0,3.0,80.0,16.7,0.0,2.0,43768.0,32135.0,6900.0,33868.0
421081,36241316,38952731.0,6225.0,6225.0,6225.0,36 months,16.49%,220.37,D,D3,...,0.0,0.0,100.0,100.0,0.0,0.0,14307.0,8357.0,1800.0,12507.0
421082,36231724,38943173.0,12000.0,12000.0,12000.0,36 months,9.49%,384.34,B,B2,...,1.0,1.0,80.0,40.0,0.0,0.0,28183.0,20671.0,10500.0,16283.0
421083,36301729,39023153.0,10000.0,10000.0,10000.0,36 months,6.49%,306.45,A,A2,...,0.0,0.0,96.9,0.0,0.0,0.0,148298.0,88120.0,30300.0,117998.0
421084,36250208,38961532.0,13150.0,13150.0,13150.0,60 months,14.99%,312.77,C,C5,...,0.0,0.0,100.0,0.0,0.0,0.0,190700.0,672.0,20700.0,0.0
421085,36421485,39142898.0,4000.0,4000.0,4000.0,36 months,8.67%,126.59,B,B1,...,0.0,2.0,100.0,0.0,1.0,0.0,58334.0,18979.0,12900.0,28234.0
421086,36260758,38972123.0,10850.0,10850.0,10850.0,36 months,19.24%,399.04,E,E2,...,0.0,3.0,90.0,50.0,0.0,0.0,81797.0,28301.0,2500.0,27533.0
421087,35094480,37777829.0,7500.0,7500.0,7500.0,36 months,9.49%,240.22,B,B2,...,0.0,4.0,96.6,20.0,1.0,0.0,36320.0,18611.0,10700.0,21820.0
421088,36221446,38932858.0,11575.0,11575.0,11575.0,36 months,15.59%,404.61,D,D1,...,0.0,1.0,100.0,42.9,0.0,0.0,29866.0,19798.0,27500.0,1766.0
421089,36330911,39042282.0,12000.0,12000.0,12000.0,36 months,11.99%,398.52,B,B5,...,1.0,3.0,98.3,50.0,0.0,0.0,325484.0,112990.0,15400.0,98125.0
421090,36371250,39102635.0,10000.0,10000.0,10000.0,36 months,11.99%,332.10,B,B5,...,0.0,1.0,100.0,100.0,0.0,0.0,32950.0,25274.0,9200.0,15850.0
421091,36441262,39152692.0,24000.0,24000.0,24000.0,36 months,11.99%,797.03,B,B5,...,0.0,2.0,56.5,100.0,0.0,0.0,152650.0,8621.0,9000.0,0.0
421092,36271333,38982739.0,13000.0,13000.0,13000.0,60 months,15.99%,316.07,D,D2,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806,39222577.0,12000.0,12000.0,12000.0,60 months,19.99%,317.86,E,E3,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262,38982659.0,20000.0,20000.0,20000.0,36 months,11.99%,664.20,B,B5,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.isnull().sum()

id                                     0
member_id                              2
loan_amnt                              2
funded_amnt                            2
funded_amnt_inv                        2
term                                   2
int_rate                               2
installment                            2
grade                                  2
sub_grade                              2
emp_title                          23876
emp_length                             2
home_ownership                         2
annual_inc                             2
verification_status                    2
issue_d                                2
loan_status                            2
pymnt_plan                             2
url                                    2
desc                              421052
purpose                                2
title                                134
zip_code                               2
addr_state                             2
dti                                    2
delinq_2yrs                            2
earliest_cr_line                       2
fico_range_low                         2
fico_range_high                        2
inq_last_6mths                         2
                                   ...
mo_sin_old_rev_tl_op                   2
mo_sin_rcnt_rev_tl_op                  2
mo_sin_rcnt_tl                         2
mort_acc                               2
mths_since_recent_bc                3800
mths_since_recent_bc_dlq          312497
mths_since_recent_inq              44601
mths_since_recent_revol_delinq    269360
num_accts_ever_120_pd                  2
num_actv_bc_tl                         2
num_actv_rev_tl                        2
num_bc_sats                            2
num_bc_tl                              2
num_il_tl                              2
num_op_rev_tl                          2
num_rev_accts                          3
num_rev_tl_bal_gt_0                    2
num_sats                               2
num_tl_120dpd_2m                   19232
num_tl_30dpd                           2
num_tl_90g_dpd_24m                     2
num_tl_op_past_12m                     2
pct_tl_nvr_dlq                         2
percent_bc_gt_75                    4241
pub_rec_bankruptcies                   2
tax_liens                              2
tot_hi_cred_lim                        2
total_bal_ex_mort                      2
total_bc_limit                         2
total_il_high_credit_limit             2
dtype: int64

In [7]:
df.drop(['member_id', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'emp_title', 'installment', 'term'], 
        axis=1, inplace=True)

In [8]:
df.isnull().sum()

id                                     0
loan_amnt                              2
grade                                  2
sub_grade                              2
emp_length                             2
home_ownership                         2
annual_inc                             2
verification_status                    2
issue_d                                2
loan_status                            2
pymnt_plan                             2
url                                    2
desc                              421052
purpose                                2
title                                134
zip_code                               2
addr_state                             2
dti                                    2
delinq_2yrs                            2
earliest_cr_line                       2
fico_range_low                         2
fico_range_high                        2
inq_last_6mths                         2
mths_since_last_delinq            203964
mths_since_last_record            346682
open_acc                               2
pub_rec                                2
revol_bal                              2
revol_util                           164
total_acc                              2
                                   ...
mo_sin_old_rev_tl_op                   2
mo_sin_rcnt_rev_tl_op                  2
mo_sin_rcnt_tl                         2
mort_acc                               2
mths_since_recent_bc                3800
mths_since_recent_bc_dlq          312497
mths_since_recent_inq              44601
mths_since_recent_revol_delinq    269360
num_accts_ever_120_pd                  2
num_actv_bc_tl                         2
num_actv_rev_tl                        2
num_bc_sats                            2
num_bc_tl                              2
num_il_tl                              2
num_op_rev_tl                          2
num_rev_accts                          3
num_rev_tl_bal_gt_0                    2
num_sats                               2
num_tl_120dpd_2m                   19232
num_tl_30dpd                           2
num_tl_90g_dpd_24m                     2
num_tl_op_past_12m                     2
pct_tl_nvr_dlq                         2
percent_bc_gt_75                    4241
pub_rec_bankruptcies                   2
tax_liens                              2
tot_hi_cred_lim                        2
total_bal_ex_mort                      2
total_bc_limit                         2
total_il_high_credit_limit             2
dtype: int64

In [11]:
df['sub_grade'].unique()

array(['C5', 'F2', 'C2', 'D5', 'A4', 'C1', 'F3', 'A1', 'B3', 'D3', 'A5',
       'E4', 'B1', 'B5', 'F1', 'B4', 'C3', 'E3', 'A2', 'B2', 'D1', 'C4',
       'E2', 'D2', 'D4', 'A3', 'E5', 'F5', 'E1', 'G2', 'G1', 'G3', 'G4',
       'F4', 'G5', nan], dtype=object)

In [9]:
df.isnull().sum()

id                                     0
loan_amnt                              2
grade                                  2
sub_grade                              2
emp_length                             2
home_ownership                         2
annual_inc                             2
verification_status                    2
issue_d                                2
loan_status                            2
pymnt_plan                             2
url                                    2
desc                              421052
purpose                                2
title                                134
zip_code                               2
addr_state                             2
dti                                    2
delinq_2yrs                            2
earliest_cr_line                       2
fico_range_low                         2
fico_range_high                        2
inq_last_6mths                         2
mths_since_last_delinq            203964
mths_since_last_record            346682
open_acc                               2
pub_rec                                2
revol_bal                              2
revol_util                           164
total_acc                              2
                                   ...
mo_sin_old_rev_tl_op                   2
mo_sin_rcnt_rev_tl_op                  2
mo_sin_rcnt_tl                         2
mort_acc                               2
mths_since_recent_bc                3800
mths_since_recent_bc_dlq          312497
mths_since_recent_inq              44601
mths_since_recent_revol_delinq    269360
num_accts_ever_120_pd                  2
num_actv_bc_tl                         2
num_actv_rev_tl                        2
num_bc_sats                            2
num_bc_tl                              2
num_il_tl                              2
num_op_rev_tl                          2
num_rev_accts                          3
num_rev_tl_bal_gt_0                    2
num_sats                               2
num_tl_120dpd_2m                   19232
num_tl_30dpd                           2
num_tl_90g_dpd_24m                     2
num_tl_op_past_12m                     2
pct_tl_nvr_dlq                         2
percent_bc_gt_75                    4241
pub_rec_bankruptcies                   2
tax_liens                              2
tot_hi_cred_lim                        2
total_bal_ex_mort                      2
total_bc_limit                         2
total_il_high_credit_limit             2
dtype: int64

In [10]:
df['mths_since_recent_bc'].value_counts()

3.0      20178
2.0      20074
4.0      19432
5.0      18039
6.0      17031
7.0      16346
8.0      15237
9.0      14319
10.0     13619
11.0     13185
1.0      13026
12.0     12755
13.0     12215
14.0     11286
15.0     10401
16.0      9549
17.0      8650
18.0      7848
19.0      7232
20.0      6732
21.0      6384
22.0      5936
23.0      5629
24.0      5229
25.0      4807
26.0      4336
27.0      4220
28.0      3937
29.0      3538
30.0      3432
         ...
444.0        1
441.0        1
319.0        1
343.0        1
347.0        1
348.0        1
356.0        1
357.0        1
364.0        1
367.0        1
368.0        1
370.0        1
373.0        1
377.0        1
379.0        1
389.0        1
392.0        1
394.0        1
395.0        1
398.0        1
399.0        1
412.0        1
415.0        1
416.0        1
417.0        1
425.0        1
427.0        1
429.0        1
440.0        1
615.0        1
Name: mths_since_recent_bc, dtype: int64

In [11]:
df['loan_status'].unique()

array(['Fully Paid', 'Current', 'In Grace Period', 'Late (31-120 days)',
       'Charged Off', 'Late (16-30 days)', 'Default', nan], dtype=object)

In [12]:
df['loan_status'].isnull().sum()

2

In [13]:
df['loan_status'].value_counts()

Current               336267
Fully Paid             55905
Charged Off            13325
Late (31-120 days)      8570
In Grace Period         3974
Late (16-30 days)       2515
Default                  539
Name: loan_status, dtype: int64

In [14]:
df['next_pymnt_d'].isnull().sum()

69232

In [15]:
#WHAT DO I DO WITH THIS MANY NAN VALUES FOR NEXT_PAYMENT

In [16]:
df['loan_status'].isnull().sum()

2

In [17]:
type(df['next_pymnt_d'])#.head()

pandas.core.series.Series

In [18]:
#pd.to_datetime(df['next_pymnt_d'], errors='raise')

In [19]:
fill_nxt_pymnt_df = df[['loan_status','next_pymnt_d']]

In [20]:
#fill_nxt_pymnt_df.pivot_table(index=['loan_status'], columns=['next_pymnt_d'])

In [21]:
#how many unique values in last_credit

In [22]:
df['last_credit_pull_d'].isnull().sum()

10

In [23]:
#think about dropping those 10 rows ask john not sure how to fill in.

In [24]:
df['sub_grade'].isnull().sum()

2

In [25]:
df['sub_grade'].unique()

array(['C5', 'F2', 'C2', 'D5', 'A4', 'C1', 'F3', 'A1', 'B3', 'D3', 'A5',
       'E4', 'B1', 'B5', 'F1', 'B4', 'C3', 'E3', 'A2', 'B2', 'D1', 'C4',
       'E2', 'D2', 'D4', 'A3', 'E5', 'F5', 'E1', 'G2', 'G1', 'G3', 'G4',
       'F4', 'G5', nan], dtype=object)

In [26]:
df['grade'].unique()

array(['C', 'F', 'D', 'A', 'B', 'E', 'G', nan], dtype=object)

In [27]:
df['grade'].isnull().sum()

2

In [28]:
df['emp_length'].isnull().sum()

2

In [29]:
df['emp_length'].unique()

array(['10+ years', '4 years', '9 years', '5 years', '< 1 year', '2 years',
       '6 years', '3 years', '1 year', '8 years', 'n/a', '7 years', nan], dtype=object)

In [30]:
df['emp_length'].value_counts()

10+ years    141521
2 years       37497
< 1 year      34340
3 years       33430
1 year        27473
5 years       24930
4 years       24506
n/a           23817
8 years       21560
7 years       18414
6 years       16838
9 years       16769
Name: emp_length, dtype: int64

In [31]:
df['pymnt_plan'].isnull().sum()

2

In [32]:
df['pymnt_plan'].unique()

array(['n', 'y', nan], dtype=object)

In [33]:
df['pymnt_plan'].value_counts()

n    421094
y         1
Name: pymnt_plan, dtype: int64

In [34]:
df['pymnt_plan'] = df['pymnt_plan'].fillna('n')

In [35]:
df['pymnt_plan'].isnull().sum()

0

In [36]:
df['home_ownership'].isnull().sum()

2

In [37]:
df['home_ownership'].value_counts()

MORTGAGE    207683
RENT        167644
OWN          45766
ANY              2
Name: home_ownership, dtype: int64

In [38]:
df['annual_inc'].isnull().sum()

2

In [39]:
df['verification_status'].isnull().sum()

2

In [40]:
df['verification_status'].value_counts()

Source Verified    179565
Verified           123016
Not Verified       118514
Name: verification_status, dtype: int64

In [41]:
df.isnull().sum()

id                                     0
loan_amnt                              2
grade                                  2
sub_grade                              2
emp_length                             2
home_ownership                         2
annual_inc                             2
verification_status                    2
issue_d                                2
loan_status                            2
pymnt_plan                             0
url                                    2
desc                              421052
purpose                                2
title                                134
zip_code                               2
addr_state                             2
dti                                    2
delinq_2yrs                            2
earliest_cr_line                       2
fico_range_low                         2
fico_range_high                        2
inq_last_6mths                         2
mths_since_last_delinq            203964
mths_since_last_record            346682
open_acc                               2
pub_rec                                2
revol_bal                              2
revol_util                           164
total_acc                              2
                                   ...
mo_sin_old_rev_tl_op                   2
mo_sin_rcnt_rev_tl_op                  2
mo_sin_rcnt_tl                         2
mort_acc                               2
mths_since_recent_bc                3800
mths_since_recent_bc_dlq          312497
mths_since_recent_inq              44601
mths_since_recent_revol_delinq    269360
num_accts_ever_120_pd                  2
num_actv_bc_tl                         2
num_actv_rev_tl                        2
num_bc_sats                            2
num_bc_tl                              2
num_il_tl                              2
num_op_rev_tl                          2
num_rev_accts                          3
num_rev_tl_bal_gt_0                    2
num_sats                               2
num_tl_120dpd_2m                   19232
num_tl_30dpd                           2
num_tl_90g_dpd_24m                     2
num_tl_op_past_12m                     2
pct_tl_nvr_dlq                         2
percent_bc_gt_75                    4241
pub_rec_bankruptcies                   2
tax_liens                              2
tot_hi_cred_lim                        2
total_bal_ex_mort                      2
total_bc_limit                         2
total_il_high_credit_limit             2
dtype: int64

In [42]:
#df['installment'].value_counts()

In [43]:
df['mths_since_last_major_derog'] = df['mths_since_last_major_derog'].fillna(0)

In [44]:
df['mths_since_last_major_derog'].isnull().sum()

0

In [45]:
df['annual_inc_joint'] = df['annual_inc_joint'].fillna(0)

In [46]:
df['dti_joint'] = df['dti_joint'].fillna(0)

In [47]:
df['mths_since_last_delinq'] = df['mths_since_last_delinq'].fillna(0)

In [48]:
df['mths_since_recent_bc_dlq'] = df['mths_since_recent_bc_dlq'].fillna(0)

In [49]:
df['mths_since_recent_inq'] = df['mths_since_recent_inq'].fillna(0)

In [50]:
df['mths_since_recent_revol_delinq'] = df['mths_since_recent_revol_delinq'].fillna(0)

In [51]:
df['num_accts_ever_120_pd'].isnull().sum()

2

In [52]:
df['num_tl_120dpd_2m'] = df['num_tl_120dpd_2m'].fillna(0)

In [53]:
df['num_accts_ever_120_pd'] = df['num_accts_ever_120_pd'].fillna(0)

In [54]:
df['num_actv_bc_tl'] = df['num_accts_ever_120_pd'].fillna(0)

In [55]:
df['percent_bc_gt_75'] = df['percent_bc_gt_75'].fillna(0)

In [56]:
df['mths_since_recent_bc'] = df['mths_since_recent_bc'].fillna(0)

In [57]:
df['mths_since_last_record'] = df['mths_since_last_record'].fillna(0)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421097 entries, 0 to 421096
Columns: 108 entries, id to total_il_high_credit_limit
dtypes: float64(85), object(23)
memory usage: 347.0+ MB

In [59]:
df.isnull().sum()

id                                     0
loan_amnt                              2
grade                                  2
sub_grade                              2
emp_length                             2
home_ownership                         2
annual_inc                             2
verification_status                    2
issue_d                                2
loan_status                            2
pymnt_plan                             0
url                                    2
desc                              421052
purpose                                2
title                                134
zip_code                               2
addr_state                             2
dti                                    2
delinq_2yrs                            2
earliest_cr_line                       2
fico_range_low                         2
fico_range_high                        2
inq_last_6mths                         2
mths_since_last_delinq                 0
mths_since_last_record                 0
open_acc                               2
pub_rec                                2
revol_bal                              2
revol_util                           164
total_acc                              2
                                   ...
mo_sin_old_rev_tl_op                   2
mo_sin_rcnt_rev_tl_op                  2
mo_sin_rcnt_tl                         2
mort_acc                               2
mths_since_recent_bc                   0
mths_since_recent_bc_dlq               0
mths_since_recent_inq                  0
mths_since_recent_revol_delinq         0
num_accts_ever_120_pd                  0
num_actv_bc_tl                         0
num_actv_rev_tl                        2
num_bc_sats                            2
num_bc_tl                              2
num_il_tl                              2
num_op_rev_tl                          2
num_rev_accts                          3
num_rev_tl_bal_gt_0                    2
num_sats                               2
num_tl_120dpd_2m                       0
num_tl_30dpd                           2
num_tl_90g_dpd_24m                     2
num_tl_op_past_12m                     2
pct_tl_nvr_dlq                         2
percent_bc_gt_75                       0
pub_rec_bankruptcies                   2
tax_liens                              2
tot_hi_cred_lim                        2
total_bal_ex_mort                      2
total_bc_limit                         2
total_il_high_credit_limit             2
dtype: int64

In [60]:
Description = df['desc']

In [61]:
df.drop('desc', axis=1, inplace=True)

In [62]:
df[['pub_rec_bankruptcies','tax_liens','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit','total_il_high_credit_limit']] = df[['pub_rec_bankruptcies','tax_liens','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit','total_il_high_credit_limit']].fillna(0)

In [63]:
df[['mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mort_acc']] = df[['mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mort_acc']].fillna(0)

In [64]:
df[['num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl']] = df[['num_actv_rev_tl','num_bc_sats', 'num_bc_tl','num_il_tl', 'num_op_rev_tl']].fillna(0)

In [65]:
df[['num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m','pct_tl_nvr_dlq']] = df[['num_rev_accts',
                                                                                                                                     'num_rev_tl_bal_gt_0','num_sats','num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m','pct_tl_nvr_dlq']].fillna(0)

In [66]:
df[['open_acc', 'pub_rec', 'revol_bal']] = df[['open_acc', 'pub_rec', 'revol_bal'] ].fillna(0)

In [67]:
df.isnull().sum()

id                                  0
loan_amnt                           2
grade                               2
sub_grade                           2
emp_length                          2
home_ownership                      2
annual_inc                          2
verification_status                 2
issue_d                             2
loan_status                         2
pymnt_plan                          0
url                                 2
purpose                             2
title                             134
zip_code                            2
addr_state                          2
dti                                 2
delinq_2yrs                         2
earliest_cr_line                    2
fico_range_low                      2
fico_range_high                     2
inq_last_6mths                      2
mths_since_last_delinq              0
mths_since_last_record              0
open_acc                            0
pub_rec                             0
revol_bal                           0
revol_util                        164
total_acc                           2
initial_list_status                 2
                                 ...
mo_sin_old_rev_tl_op                0
mo_sin_rcnt_rev_tl_op               0
mo_sin_rcnt_tl                      0
mort_acc                            0
mths_since_recent_bc                0
mths_since_recent_bc_dlq            0
mths_since_recent_inq               0
mths_since_recent_revol_delinq      0
num_accts_ever_120_pd               0
num_actv_bc_tl                      0
num_actv_rev_tl                     0
num_bc_sats                         0
num_bc_tl                           0
num_il_tl                           0
num_op_rev_tl                       0
num_rev_accts                       0
num_rev_tl_bal_gt_0                 0
num_sats                            0
num_tl_120dpd_2m                    0
num_tl_30dpd                        0
num_tl_90g_dpd_24m                  0
num_tl_op_past_12m                  0
pct_tl_nvr_dlq                      0
percent_bc_gt_75                    0
pub_rec_bankruptcies                0
tax_liens                           0
tot_hi_cred_lim                     0
total_bal_ex_mort                   0
total_bc_limit                      0
total_il_high_credit_limit          0
dtype: int64

In [68]:
#sns.countplot(x='loan_status', data=df)

#sns.countplot(x='home_ownership', data=df, hue='purpose')

#sns.countplot(x='purpose', data=df)

#sns.factorplot(data=df, x="loan_amnt", y="loan_status", col="home_ownership") 

#sns.countplot(x='loan_status', data=df, hue='purpose')

In [69]:
df1_index = df.columns[0:20]

In [70]:
df1_index

Index([u'id', u'loan_amnt', u'grade', u'sub_grade', u'emp_length',
       u'home_ownership', u'annual_inc', u'verification_status', u'issue_d',
       u'loan_status', u'pymnt_plan', u'url', u'purpose', u'title',
       u'zip_code', u'addr_state', u'dti', u'delinq_2yrs', u'earliest_cr_line',
       u'fico_range_low'],
      dtype='object')

In [71]:
df1 = df[[u'id', u'loan_amnt', u'grade', u'sub_grade', u'emp_length',
       u'home_ownership', u'annual_inc', u'verification_status', u'issue_d',
       u'loan_status', u'pymnt_plan', u'url', u'purpose', u'title',
       u'zip_code', u'addr_state', u'dti', u'delinq_2yrs', u'earliest_cr_line',
       u'fico_range_low']]

In [72]:
drop_list1 = ['id', 'issue_d', 'pymnt_plan', 'url', 'title','zip_code','earliest_cr_line']

In [73]:
df1.drop(drop_list1, axis=1, inplace=True)

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [74]:
df1.isnull().sum()

loan_amnt              2
grade                  2
sub_grade              2
emp_length             2
home_ownership         2
annual_inc             2
verification_status    2
loan_status            2
purpose                2
addr_state             2
dti                    2
delinq_2yrs            2
fico_range_low         2
dtype: int64

In [75]:
df1 = df1.dropna()

In [76]:
df12_index = df.columns[20:40]

In [77]:
df12_index

Index([u'fico_range_high', u'inq_last_6mths', u'mths_since_last_delinq',
       u'mths_since_last_record', u'open_acc', u'pub_rec', u'revol_bal',
       u'revol_util', u'total_acc', u'initial_list_status', u'out_prncp',
       u'out_prncp_inv', u'total_pymnt', u'total_pymnt_inv',
       u'total_rec_prncp', u'total_rec_int', u'total_rec_late_fee',
       u'recoveries', u'collection_recovery_fee', u'last_pymnt_d'],
      dtype='object')

In [78]:
df2 = df[[u'fico_range_high', u'inq_last_6mths', u'mths_since_last_delinq',
       u'mths_since_last_record', u'open_acc', u'pub_rec', u'revol_bal',
       u'revol_util', u'total_acc', u'initial_list_status', u'out_prncp',
       u'out_prncp_inv', u'total_pymnt', u'total_pymnt_inv',
       u'total_rec_prncp', u'total_rec_int', u'total_rec_late_fee',
       u'recoveries', u'collection_recovery_fee', u'last_pymnt_d']]

In [79]:
df2.isnull().sum(0)

fico_range_high              2
inq_last_6mths               2
mths_since_last_delinq       0
mths_since_last_record       0
open_acc                     0
pub_rec                      0
revol_bal                    0
revol_util                 164
total_acc                    2
initial_list_status          2
out_prncp                    2
out_prncp_inv                2
total_pymnt                  2
total_pymnt_inv              2
total_rec_prncp              2
total_rec_int                2
total_rec_late_fee           2
recoveries                   2
collection_recovery_fee      2
last_pymnt_d               296
dtype: int64

In [80]:
df2.drop(['initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt_inv', 'total_rec_prncp','total_rec_int',
          'total_rec_late_fee','last_pymnt_d','total_pymnt'], axis=1, inplace=True)

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [81]:
df2['revol_util'] = df2['revol_util'].fillna(0)

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [82]:
df2 = df2.dropna()

In [83]:
df2.isnull().sum()

fico_range_high            0
inq_last_6mths             0
mths_since_last_delinq     0
mths_since_last_record     0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
recoveries                 0
collection_recovery_fee    0
dtype: int64

In [84]:
df3_index = df.columns[40:60]

In [85]:
list(df3_index)

['last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il']

In [86]:
df3 = df[['last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il']]

In [87]:
df3.isnull().sum()

last_pymnt_amnt                     2
next_pymnt_d                    69232
last_credit_pull_d                 10
last_fico_range_high                2
last_fico_range_low                 2
collections_12_mths_ex_med          2
mths_since_last_major_derog         0
policy_code                         2
application_type                    2
annual_inc_joint                    0
dti_joint                           0
verification_status_joint      420586
acc_now_delinq                      2
tot_coll_amt                        2
tot_cur_bal                         2
open_acc_6m                    399725
open_il_6m                     399725
open_il_12m                    399725
open_il_24m                    399725
mths_since_rcnt_il             400287
dtype: int64

In [88]:
drop_list_df3 = ['last_pymnt_amnt', 'next_pymnt_d', 'policy_code', 'application_type', 'dti_joint'
                 , 'annual_inc_joint','dti_joint', 'verification_status_joint']

In [89]:
df3.drop(drop_list_df3, axis=1, inplace=True)

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [90]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421097 entries, 0 to 421096
Data columns (total 13 columns):
last_credit_pull_d             421087 non-null object
last_fico_range_high           421095 non-null float64
last_fico_range_low            421095 non-null float64
collections_12_mths_ex_med     421095 non-null float64
mths_since_last_major_derog    421097 non-null float64
acc_now_delinq                 421095 non-null float64
tot_coll_amt                   421095 non-null float64
tot_cur_bal                    421095 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
dtypes: float64(12), object(1)
memory usage: 41.8+ MB

In [91]:
df3.isnull().sum()

last_credit_pull_d                 10
last_fico_range_high                2
last_fico_range_low                 2
collections_12_mths_ex_med          2
mths_since_last_major_derog         0
acc_now_delinq                      2
tot_coll_amt                        2
tot_cur_bal                         2
open_acc_6m                    399725
open_il_6m                     399725
open_il_12m                    399725
open_il_24m                    399725
mths_since_rcnt_il             400287
dtype: int64

In [92]:
df3.drop(['last_credit_pull_d'], axis=1, inplace=True)

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [93]:
df3[['open_il_6m','open_il_12m','open_il_24m','mths_since_rcnt_il']] = df3[['open_il_6m','open_il_12m','open_il_24m'
                                                                            ,'mths_since_rcnt_il']].fillna(0)

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:2378: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [94]:
df3['open_acc_6m'] = df3['open_acc_6m'].fillna(0)

/Users/punkymonkey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [95]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421097 entries, 0 to 421096
Data columns (total 12 columns):
last_fico_range_high           421095 non-null float64
last_fico_range_low            421095 non-null float64
collections_12_mths_ex_med     421095 non-null float64
mths_since_last_major_derog    421097 non-null float64
acc_now_delinq                 421095 non-null float64
tot_coll_amt                   421095 non-null float64
tot_cur_bal                    421095 non-null float64
open_acc_6m                    421097 non-null float64
open_il_6m                     421097 non-null float64
open_il_12m                    421097 non-null float64
open_il_24m                    421097 non-null float64
mths_since_rcnt_il             421097 non-null float64
dtypes: float64(12)
memory usage: 38.6 MB

In [96]:
df3 = df3.dropna()

In [97]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421095 entries, 0 to 421094
Data columns (total 12 columns):
last_fico_range_high           421095 non-null float64
last_fico_range_low            421095 non-null float64
collections_12_mths_ex_med     421095 non-null float64
mths_since_last_major_derog    421095 non-null float64
acc_now_delinq                 421095 non-null float64
tot_coll_amt                   421095 non-null float64
tot_cur_bal                    421095 non-null float64
open_acc_6m                    421095 non-null float64
open_il_6m                     421095 non-null float64
open_il_12m                    421095 non-null float64
open_il_24m                    421095 non-null float64
mths_since_rcnt_il             421095 non-null float64
dtypes: float64(12)
memory usage: 41.8 MB

In [98]:
df4_index = df.columns[60:80]

In [99]:
list(df4_index)

['total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl']

In [100]:
df4 = df[['total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl']]

In [101]:
df4.isnull().sum()

total_bal_il                399725
il_util                     402480
open_rv_12m                 399725
open_rv_24m                 399725
max_bal_bc                  399725
all_util                    399725
total_rev_hi_lim                 2
inq_fi                      399725
total_cu_tl                 399725
inq_last_12m                399725
acc_open_past_24mths             2
avg_cur_bal                      2
bc_open_to_buy                3965
bc_util                       4229
chargeoff_within_12_mths         2
delinq_amnt                      2
mo_sin_old_il_acct           12256
mo_sin_old_rev_tl_op             0
mo_sin_rcnt_rev_tl_op            0
mo_sin_rcnt_tl                   0
dtype: int64

In [102]:
df4[['total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util',
     'inq_fi','total_cu_tl','inq_last_12m','bc_open_to_buy','bc_util','mo_sin_old_il_acct']]=df4[['total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util',
     'inq_fi','total_cu_tl','inq_last_12m','bc_open_to_buy','bc_util','mo_sin_old_il_acct']].fillna(0)

In [103]:
df4=df4.dropna()

In [104]:
df5_index = df.columns[80:100]

In [105]:
list(df5_index)

['mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq']

In [106]:
df5 = df[['mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq']]

In [107]:
df5.isnull().sum()

mort_acc                          0
mths_since_recent_bc              0
mths_since_recent_bc_dlq          0
mths_since_recent_inq             0
mths_since_recent_revol_delinq    0
num_accts_ever_120_pd             0
num_actv_bc_tl                    0
num_actv_rev_tl                   0
num_bc_sats                       0
num_bc_tl                         0
num_il_tl                         0
num_op_rev_tl                     0
num_rev_accts                     0
num_rev_tl_bal_gt_0               0
num_sats                          0
num_tl_120dpd_2m                  0
num_tl_30dpd                      0
num_tl_90g_dpd_24m                0
num_tl_op_past_12m                0
pct_tl_nvr_dlq                    0
dtype: int64

In [108]:
df6_index = df.columns[100:115]

In [109]:
list(df6_index)

['percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [110]:
df6 = df[['percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']]

In [111]:
df6.isnull().sum()

percent_bc_gt_75              0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
dtype: int64

In [112]:
df1.columns

Index([u'loan_amnt', u'grade', u'sub_grade', u'emp_length', u'home_ownership',
       u'annual_inc', u'verification_status', u'loan_status', u'purpose',
       u'addr_state', u'dti', u'delinq_2yrs', u'fico_range_low'],
      dtype='object')

In [113]:
data_df = pd.concat([df1, df2, df3, df4, df5, df6], axis=1, join_axes=[df1.index])

In [114]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421095 entries, 0 to 421094
Data columns (total 83 columns):
loan_amnt                         421095 non-null float64
grade                             421095 non-null object
sub_grade                         421095 non-null object
emp_length                        421095 non-null object
home_ownership                    421095 non-null object
annual_inc                        421095 non-null float64
verification_status               421095 non-null object
loan_status                       421095 non-null object
purpose                           421095 non-null object
addr_state                        421095 non-null object
dti                               421095 non-null float64
delinq_2yrs                       421095 non-null float64
fico_range_low                    421095 non-null float64
fico_range_high                   421095 non-null float64
inq_last_6mths                    421095 non-null float64
mths_since_last_delinq            421095 non-null float64
mths_since_last_record            421095 non-null float64
open_acc                          421095 non-null float64
pub_rec                           421095 non-null float64
revol_bal                         421095 non-null float64
revol_util                        421095 non-null object
total_acc                         421095 non-null float64
recoveries                        421095 non-null float64
collection_recovery_fee           421095 non-null float64
last_fico_range_high              421095 non-null float64
last_fico_range_low               421095 non-null float64
collections_12_mths_ex_med        421095 non-null float64
mths_since_last_major_derog       421095 non-null float64
acc_now_delinq                    421095 non-null float64
tot_coll_amt                      421095 non-null float64
tot_cur_bal                       421095 non-null float64
open_acc_6m                       421095 non-null float64
open_il_6m                        421095 non-null float64
open_il_12m                       421095 non-null float64
open_il_24m                       421095 non-null float64
mths_since_rcnt_il                421095 non-null float64
total_bal_il                      421095 non-null float64
il_util                           421095 non-null float64
open_rv_12m                       421095 non-null float64
open_rv_24m                       421095 non-null float64
max_bal_bc                        421095 non-null float64
all_util                          421095 non-null float64
total_rev_hi_lim                  421095 non-null float64
inq_fi                            421095 non-null float64
total_cu_tl                       421095 non-null float64
inq_last_12m                      421095 non-null float64
acc_open_past_24mths              421095 non-null float64
avg_cur_bal                       421095 non-null float64
bc_open_to_buy                    421095 non-null float64
bc_util                           421095 non-null float64
chargeoff_within_12_mths          421095 non-null float64
delinq_amnt                       421095 non-null float64
mo_sin_old_il_acct                421095 non-null float64
mo_sin_old_rev_tl_op              421095 non-null float64
mo_sin_rcnt_rev_tl_op             421095 non-null float64
mo_sin_rcnt_tl                    421095 non-null float64
mort_acc                          421095 non-null float64
mths_since_recent_bc              421095 non-null float64
mths_since_recent_bc_dlq          421095 non-null float64
mths_since_recent_inq             421095 non-null float64
mths_since_recent_revol_delinq    421095 non-null float64
num_accts_ever_120_pd             421095 non-null float64
num_actv_bc_tl                    421095 non-null float64
num_actv_rev_tl                   421095 non-null float64
num_bc_sats                       421095 non-null float64
num_bc_tl                         421095 non-null float64
num_il_tl                         421095 non-null float64
num_op_rev_tl                     421095 non-null float64
num_rev_accts                     421095 non-null float64
num_rev_tl_bal_gt_0               421095 non-null float64
num_sats                          421095 non-null float64
num_tl_120dpd_2m                  421095 non-null float64
num_tl_30dpd                      421095 non-null float64
num_tl_90g_dpd_24m                421095 non-null float64
num_tl_op_past_12m                421095 non-null float64
pct_tl_nvr_dlq                    421095 non-null float64
percent_bc_gt_75                  421095 non-null float64
pub_rec_bankruptcies              421095 non-null float64
tax_liens                         421095 non-null float64
tot_hi_cred_lim                   421095 non-null float64
total_bal_ex_mort                 421095 non-null float64
total_bc_limit                    421095 non-null float64
total_il_high_credit_limit        421095 non-null float64
dtypes: float64(74), object(9)
memory usage: 269.9+ MB

In [115]:
#IN THE HOME OWNERSHIP COLUMN THERE ARE TWO CUSTOMERS WITH 'ANY'.  GIVEN THAT THE TWO CUSTOMERS
#HAVE 1 AND 4 MORTGAGE ACCOUNTS COLLECTIVELY.  I AM GOING TO ASSIGN THEIR HOME_OWNERSHIP 
#STATUS AS 'MORTGAGE

In [116]:
any_df = data_df[data_df['home_ownership'] == 'ANY']

In [117]:
any_df['mort_acc']

26479     4.0
203227    1.0
Name: mort_acc, dtype: float64

In [118]:
def change_homeownership(x):
    if x == 'ANY':
        return'MORTGAGE'
    else:
        return x

In [ ]:
data_df['home_ownership'] = data_df['home_ownership'].apply(change_homeownership)

In [ ]:
data_df.to_csv('Lending_Club_Data_Cleaned.csv', index=False)

In [ ]:
# sns.regplot(advertising.TV, advertising.Sales, order=1, ci=None, scatter_kws={'color':'r'})
# plt.xlim(-10,310) 
# plt.ylim(ymin=0);

In [ ]:
data_df.info()